<body>
  <button class="previous" mat-raised-button color="redB" [routerLink]="['/gmhList']"
  routerLinkActive="active">&laquo; חזרה לגמחים</button>

  <div class="content">
    <div class="gmh">
      <label>שם גמח</label>
      <h4>{{gmh.GmhName}}</h4>
      <label>כתובת</label>
      <h4>{{gmh.Adress}}</h4>
      <label>אימייל</label>
      <h4>{{gmh.e_mail}}</h4>
      <label>טלפון</label>
      <h4>{{gmh.Phone}}</h4>
    </div>
    <div>
      <h1>להלן מוצרי הגמח:</h1>
      <div class="donations" (click)="detail(p)" *ngFor="let p of productsToGmh">
        <tr style="background: none;">
          <td>
            <img class="rounded mb-3" width="100" height="100" mat-card-image src={{p.Images}} />
          </td>
          <p>{{p.Name}} </p>
        </tr>
        <p-dialog [(visible)]="details&&p==productDetail" [modal]="true"
        dismissableMask="ClosePopUp()" header="פרטי מוצר:" styleClass="class" (click)="ClosePopUp()">
        {{details}}
        <!--   [style]="{width: '250px'}"  -->
         <!--  [responsive]="false" [maximizable]="false" [baseZIndex]="10350" -->

          <br/>
          <p><label>כמות במלאי: </label> {{p.Amount}} </p>
          <label>לוח הלוואות המוצר: </label>
          <mat-form-field style="width: 0%; align-items: right;">
            <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter" style="visibility: hidden;">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker   (opened)="myP(p)" #picker [dateClass]="dateClass.bind(p,this)">
            </mat-date-range-picker>
          </mat-form-field>
          <p><label>תאור המוצר: </label>{{p.FreeDescription}} </p>
        </p-dialog>
      </div>
    </div>
  </div>
  <footer class="fixed-bottom">
    <p>Author: Hege Refsnes<br>
      <a href="mailto:hege@example.com">hege@example.com</a>
    </p>
  </footer>
</body>








<!-- <body>


    <div class="products content" *ngFor="let d of productsToGmh" (click)="detail(d)">
      <tr style="background: none;">
        <td>
          <img class="rounded mb-3"
          width="100" height="100" mat-card-image src={{d.Images}} />
        </td>
        <p>{{d.Name}} </p>
        
    </tr>
    <tr style="font-weight: normal;background: none;" *ngIf="details==true&&d==productDetail">
        <p>פרטי מוצר:</p>
        <p>          
            <mat-form-field style="width: 0%; align-items: right;" >
          <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter" style="visibility: hidden;">
         
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
          <mat-date-range-picker (opened)="myP(d)" #picker [dateClass]="dateClass.bind(d,this)"></mat-date-range-picker>
      </mat-form-field> </p>
        <p>{{d.Amount}} </p>
        <p>{{d.FreeDescription}} </p>
    </tr>
    </div>

    
    <footer>
      <p>Author: Hege Refsnes<br>
      <a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer> 
  </body> -->














<!-- <div  style="margin-left: 15%; width:80%; padding-top:8%;" >
    <table class="table-primary"  style=" table-layout: fixed; direction: rtl; align-items: center; color: black;" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th class="th" mat-header-cell *matHeaderCellDef> שם מוצר </th>
        <td class="td" mat-cell  *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>
  
     

      <ng-container matColumnDef="date" >
        <th class="th" mat-header-cell *matHeaderCellDef> תאריכים </th>
        <td  class="td w-25" width="80" mat-cell *matCellDef="let element" > 
            <mat-form-field style="width: 0%; align-items: right;" >
            <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter" style="visibility: hidden;">

                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
            <mat-date-range-picker (opened)="myP(element)" #picker [dateClass]="dateClass.bind(element,this)"></mat-date-range-picker>
        </mat-form-field> </td>
      </ng-container>


      <ng-container matColumnDef="amount">
        <th class="th" mat-header-cell *matHeaderCellDef> כמות </th>
        <td class="td"  mat-cell *matCellDef="let element"> {{element.Amount}} </td>
      </ng-container>

      <ng-container matColumnDef="describe">
        <th class="th" mat-header-cell *matHeaderCellDef> תיאור חופשי </th>
        <td class="td"  mat-cell *matCellDef="let element"> {{element.FreeDescription}} </td>
      </ng-container>
      
      <ng-container matColumnDef="picture">
        <th class="th" mat-header-cell *matHeaderCellDef> תמונה </th>
        <td class="td"  mat-cell *matCellDef="let element">  <img class="rounded mb-3"
            width="100" height="100" mat-card-image src={{element.Images}} /> </td>
      </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div> -->


<!-- <table class="table table-hover">

    <tr>
    <th>שם מוצר</th>
    <th>תמונה</th>
    <th>תאריכים</th>
    <th>כמות</th>
    <th>תיאור חופשי</th>
</tr>
<tbody *ngFor="let p of productsToGmh">
   <tr >
       <td>{{p.Name}}</td>
       <td>{{p.Images}}</td>     
      <td *ngIf="p.IsDisposable">{{p.Amount}}</td>
      <td *ngIf="!p.IsDisposable">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">

                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-date-range-picker #picker [dateClass]="dateClass.bind(p,this)"></mat-date-range-picker>
        </mat-form-field>
       <td>{{p.FreeDescription}}</td>
       <td>{{p.IsDisposable}}</td>
       <td>{{p.SecurityDepositAmount}}</td>
       <td>{{p.Status}}</td>   
   </tr>
</tbody>
</table> -->


<!-- <table class="table table-hover">
    <tr>
    <th>רייטינג </th>
    <th>טקסט</th>
    <th>
        <label>{{opinions.length}}</label>
        <label>חוות דעת</label>
        <br>
        <input type="button" title="זאת ההזדמנות להוכיר טובה ולעזור לעוד אנשים להנות כמוך" value="הוסף חוות דעת" (click)="opinion=true">
        <div *ngIf="opinion==true">
         <input formControlName="comment" type="text" >
         <span class="pointer" style='font-size:50px; color: red;' id="id1" (click)="changeStarColor('id1')">&#9733;</span>
         <span class="pointer" style='font-size:50px; color: red;' id="id2" (click)="changeStarColor('id2')">&#9733;</span>
         <span class="pointer" style='font-size:50px; color: red;' id="id3" (click)="changeStarColor('id3')">&#9733;</span>
         <span class="pointer" style='font-size:50px; color: gray;' id="id4" (click)="changeStarColor('id4')">&#9733;</span>
         <span class="pointer" style='font-size:50px; color: gray;' id="id5" (click)="changeStarColor('id5')">&#9733;</span>
         <h3>{{rating}} כוכבים</h3>
         <input type="button" value="SEND" (click)="addOpinion()">    
        </div></th>
    
</tr>
   <tr *ngFor="let o of opinions">
       <td>
        <span *ngIf="o.Rating < 1 " style='font-size:50px; color: gray;' >&#9733;</span>
        <span *ngIf="o.Rating < 2 " style='font-size:50px; color: gray;' >&#9733;</span>
        <span *ngIf="o.Rating < 3 " style='font-size:50px; color: gray;' >&#9733;</span>
        <span *ngIf="o.Rating < 4 " style='font-size:50px; color: gray;' >&#9733;</span>
        <span *ngIf="o.Rating < 5 " style='font-size:50px; color: gray;' >&#9733;</span>
        <span *ngIf="o.Rating > 0 " style='font-size:50px; color: red;'  >&#9733;</span>
        <span *ngIf="o.Rating > 1 " style='font-size:50px; color: red;'  >&#9733;</span>
        <span *ngIf="o.Rating > 2 " style='font-size:50px; color: red;'  >&#9733;</span>
        <span *ngIf="o.Rating > 3 " style='font-size:50px; color: red;'  >&#9733;</span>
        <span *ngIf="o.Rating > 4 " style='font-size:50px; color: red;'  >&#9733;</span>
        <h3>{{o.Rating}} כוכבים</h3>
       </td>
       <td>{{o.Comment}}</td> 
       <td></td>    
   </tr>
</table> -->





<!-- <div style="padding:6px; position: fixed;width: 100%; margin-top: -1%; text-align: right; right: 0; direction: rtl; background-color: white;">
  <div style="display: inline-block; padding-left: 3%;">
          <h2>שם:&ensp;</h2>
          <h2>{{gmh.GmhName}}</h2>
      </div>
      <div style="display: inline-block;padding-left: 3%;">
      <h2>כתובת:&ensp;</h2>
          <h2>{{gmh.Adress}}</h2>
      </div>    
      <div style="display: inline-block;padding-left: 3%;">
      <h2>אימייל:&ensp;</h2>
          <h2>{{gmh.e_mail}}</h2>
      </div>  
      <div style="display: inline-block;padding-left: 3%;">
      <h2>טלפון:&ensp;</h2>
          <h2>{{gmh.Phone}}</h2>
      </div>   
         
  </div> -->