<body>
    <div>
    <h1 style="direction: rtl; text-align: right; font-size: 78px; line-height: 100%;">1,976 גמ"חים<br> כבר כאן בשבילך,<br> מה אתה מחפש?</h1>
    <mat-label color="primary" class="search">
        <app-search-gmh></app-search-gmh>
        </mat-label>
    <!-- <div class="content">
        <h1 id="title">עולם חסד יבנה</h1>
    </div> -->
</div>
  <footer class="fixed-bottom">
    <p>Author: Hege Refsnes<br>
    <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>
</body>
