
<div style="margin-top: 10%;">
  <app-search-gmh></app-search-gmh>
</div>

<div class="mat-elevation-z8">
  <table class="table-primary table-striped"  style="width:100%; direction: rtl; text-align: right;  color: black;" mat-table [dataSource]="gmhService.dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> שם גמח </th>
      <td mat-cell  *matCellDef="let element"> {{element.GmhName}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> כתובת </th>
      <td  mat-cell *matCellDef="let element"> {{element.Adress}} </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> הערה </th>
      <td  mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>
    <ng-container matColumnDef="a">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element" >עבור לגמ"ח זה</td>
      <!-- <td mat-cell *matCellDef="let element">     <a (click)="openDialog($event)" class="pointer editObject alertInappropriateDeal"   
        title="לחצו כאן כדי לדווח על מודעה שאינה הולמת את רוח האתר">דווחו על מודעה לא הולמת</a>
      </td> -->
    </ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="['/gmh',row.GmhCode]" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  
  <footer class="fixed-bottom">
    <p>Author: Hege Refsnes<br>
    <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>
</div>
