<body>
    <div class="bar">
        <div style="padding: 0.7%;">
            <button mat-raised-button color="red" [routerLink]="['/editOwnerDetails']" routerLinkActive="active">עריכת
                פרטים
                אישיים</button>
        </div>
        <div style="padding: 0.7%;"> <button (click)="newgmh=true" mat-raised-button style=" width: 100%;" color="red"
                 routerLinkActive="active">
                הוספת גמ"ח</button></div>
    </div>
    <div class="content" *ngIf="currentUser!=undefined && !newgmh">
        <h1 class="gmhs">היי {{currentUser.Name}} , הגמחים שלך:</h1>
        <h1 class="gmhs">מכאן תוכל\י לנהל אותם בקלות</h1>
        <div style="border-bottom: 1px solid black!important; " class="gmhs nav nav-link" *ngFor="let g of myGmhim">
            <div class="img"> <a class="gmhs nav nav-link"
                    style="text-align: right; align-items: right; font-size: xx-large;width: 150% !important;"
                    [routerLink]="['/one-gmh',g.GmhCode]" routerLinkActive="active">{{g.GmhName}}</a></div>
            <div style="float: left; width: 100%;">
                <div class="img">
                    <button mat-raised-button color="red" [routerLink]="['/one-gmh',g.GmhCode]">ניהול</button>
                </div>
                <div class="img">
                    <button title="מחק גמח" mat-raised-button color="red">
                        <mat-icon (click)="delete(g)">delete</mat-icon>
                    </button>
                </div>
                <div class="img">
                    <button mat-raised-button title="ערוך פרטי גמח" color="red" (click)="showDialog()">
                        <mat-icon (click)="edit(g)">create</mat-icon>
                    </button>
                </div>
            </div>
            <tr *ngIf="open && g==currentgmh">פרטי הגמח:
                <div>
                    <form [formGroup]="editGmhForm" class="form">
                        <mat-icon (click)="close()" class="btn">clear</mat-icon>
                        <div class="form-group">
                            שם הגמח:
                            <input class="txt" type="text" class="form-control" formControlName="GmhhName">
                            <div class="error" *ngIf="editGmhForm.controls['GmhhName'].errors!=null">* </div>
                        </div>
                        <div class="form-group">
                            <label> טלפון :</label>
                            <input class="txt" type="text" class="form-control" formControlName="Phone">
                            <div class="error" *ngIf="editGmhForm.controls['Phone'].errors!=null">מספר לא תקין
                            </div>
                        </div>
                        <div class="form-group">
                            <label> מייל :</label>
                            <input class="txt" type="text" class="form-control" formControlName="E_mail">
                            <div class="error" *ngIf="editGmhForm.controls['E_mail'].errors!=null">מספר לא תקין
                            </div>
                        </div>
                        <p>כתובת:
                            <input ngx-google-places-autocomplete #placesRef="ngx-places" formControlName="Adress"
                                (onAddressChange)="handleDestinationChange($event)" class="form-control">‏
                        </p>
                        <p>הערות:<input type="text" formControlName="Comments" class="form-control"></p>
                        <p><button mat-raised-button color="red" style="margin-right: 25%;"
                                [disabled]="!editGmhForm.valid" (click)="saveChange()">
                                שמור שינויים</button>
                        </p>
                    </form>

                </div>
            </tr>
        </div>
    </div>
    <div *ngIf="newgmh" class="content" style="margin-left: 40%;">
    <mat-icon style="margin-left: 28%;"  class="btn" (click)="newgmh=false">clear</mat-icon>
    <app-new-gmh style="width: 30% !important;" (submit)="newgmh=false"></app-new-gmh>
</div>
<footer class="fixed-bottom">
    <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a>
    </p>
</footer>
</body>
