  .gmhs{
    width:20%;
    margin-left: 50%;
  }
  body{
    background-image:url( "src/assets/bg.png") !important;
    background-size: 50% 45% !important;
    background-position: 0% 50%;
    background-attachment: fixed;
    margin-top: 8%; 
    background-repeat: no-repeat !important;
    }
    .img{
      display: inline-block;
      padding: 2%;
    }
    form13{font-weight: bolder;}
  .bar{
    left: 3%; 
    /* margin-top: 1%; */
     position: fixed;
  }
  .form{
    background-color:rgb(185, 229, 247)  !important ;
    width: 150%;
    padding: 0% 20% 10% 20%;
    border-radius: 3%;
    display: inline-block;
/* margin-top: -8%; */
  }
  .btn{
    /* margin-right: -5% !important; */
    display: inline-block !important;
    /* background-color:rgb(185, 229, 247)  !important ; */
    /* margin-top: -30% !important; */
  }