<body>
    <form class="form form-group" [formGroup]="needsGmhimForm">
        <div class="form-group">
            <h2 class="form-control title">ספר לנו היכן תרצה לפתוח גמ"ח:</h2>
            <p><input type="radio" class="form-check-input" name="r" checked (click)="getCurrentLocation()" >
                <mat-icon style="margin-right: 2%;">room</mat-icon>מיקום נוכחי
            </p>
            <input type="radio" class="form-check-input"  name="r" (click)="this.needsGmhimForm.controls.location.enable()"> <input ngx-google-places-autocomplete
                #placesRef="ngx-places" (onAddressChange)="handleDestinationChange($event)" placeholder="בחר מיקום‏"
                formControlName="location" class="form-control">
        </div>

        <div class="form-group">
            <h2 class="form-control title" > בחר קטגוריה מועדפת:</h2>
            <input type="text" placeholder="בחר " aria-label="Number" matInput [formControl]="categoriesControl"
                [matAutocomplete]="auto" [value]="displayFn" class="form-control">
            <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let c of filteredCategories | async" [value]="c">
                    {{c.CategoryName}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <button class="form-group" (click)="filterNeedsGmhim()" mat-raised-button color="red">סנן גמח"ים נצרכים</button>
        <div class="list-group" *ngIf="masterCategoryNG!=undefined && masterCategoryNG.length!=0">
            <h1>:הנה הגמ"חים שחסרים באזור שביקשת</h1>
            <div class="ng"
                class="list-group-item list-group-item-action flex-column align-items-start active"
                *ngFor="let c of masterCategoryNG" (click)="getTatForNG(c)">
                <div class="d-flex w-100 justify-content-between">{{c.CategoryName}}</div>
                <div *ngIf="c==currentNg">
                    <div class="d-flex w-100 justify-content-between" *ngFor="let tc of tatCategoryNG">
                        {{tc.CategoryName}}</div>
                </div>
            </div>
        </div>
    </form>

    <footer class="fixed-bottom">
        <p>Author: Hege Refsnes<br>
            <a href="mailto:hege@example.com">hege@example.com</a>
        </p>
    </footer>
</body>