body{
    margin-top: 10%;
  background-image: url( "src/assets/bg.png") !important; background-size: 40% 35% !important;margin-top: 10%; background-repeat: no-repeat !important;
  direction:rtl; 
  text-align: right;
  align-items: right;
  }
  .form-group {
    display: inline-block;
margin-right: 40px;
  }
 