body{
    /* margin-top: 10%; */
  background-image: url( "src/assets/bg.png") !important;
  background-size: 55% 50% !important;
  margin-top: 10%;
  background-repeat: no-repeat !important;
  direction:rtl; 
  text-align: right;
  align-items: right;
  }
  .form-group {
    /* display: inline-block; */
    margin-right:10%;
    width: 50%;
    /* right: 0!important; */
  }
  .ng{
    margin: 1%;
    width: 150%;
  }
  .list-group-item.active {
    background-color: rgb(185, 229, 247)  !important;
color: black !important;
border-radius: 5%;
  }
 
 .title{
  background-color: rgb(185, 229, 247)  !important;;
}