<body>
    <div class="content">
        <h1 style="font-size: 30px;" *ngIf="userService.CurrentUser==undefined">רב תודות!<br>אנו שמחים שברצונך להצטרף
            למשפחת"CHARITY",<br> נשמח תמיד לעמוד לשרותך!</h1>
        <div *ngIf="userService.CurrentUser==undefined">
            <h1>בשביל להוסיף גמ"ח עליך להרשם או להיכנס במידה והינך רשום כבר במערכת.</h1>
            <button class="signInRegister" mat-raised-button color="red" [routerLink]="['/register']">הרשם</button>
            <button class="signInRegister" mat-raised-button color="red" [routerLink]="['/signIn']">הכנס</button>
        </div>
        <div class="divMove" >
            <h1 style="font-size: 20px;">אנחנו יכולים לעזור לך לבחור איזה גמח להוסיף, לפי צרכי הציבור, האם אתה מעוניין??
            </h1>
            <button mat-raised-button class="nav nav-link" color="red" [routerLink]="['/needsGMHim']" >כן תודה!</button>
        </div>
        <form *ngIf="userService.CurrentUser!=undefined">
           
            <div class="thank">
                <h1>הוספת גמ"ח</h1><span>בשביל להוסיף גמח אנא
                    מלא את הפרטים הבאים <br> אנו מודים לך מקרב לב על השותפות במיזם גדול זה!</span></div>
            <app-new-gmh *ngIf="userService.CurrentUser!=undefined" class="newGmh"
               ></app-new-gmh>
        </form>
    </div>
    <footer class="fixed-bottom">
        <p>Author: Hege Refsnes<br>
            <a href="mailto:hege@example.com">hege@example.com</a>
        </p>
    </footer>
</body>