

<body>
    <div style="left: 0;  position: fixed;">
        <button class="previous" style="width: 55%; margin-bottom:3%" mat-raised-button color="redB" [routerLink]="['/manageTheGMH']"
            routerLinkActive="active">&laquo; חזרה לגמחים</button>
        <button title="תוכל להוסיף בקשה לחפץ מסוים ובמידה ותמצא תרומה מתאימה נודיע לך" mat-raised-button color="redB"
            (click)="addReqest()" style="margin-right: 35%;">הוסף בקשה לתרומה
        </button>
    </div>


    <p-dialog  [(visible)]="gmhService.display" [responsive]="false" dismissableMask="ClosePopUp()"[modal]="true" (onHide)="ClosePopUp()"
    [style]="{width: '630px'}" [responsive] ="false"
    [maximizable]="false" [baseZIndex]="10350">
    <p-header class="col-md-2" style="font-size:20px;color: #34495e">התחברות</p-header>
<app-sign-in></app-sign-in>
</p-dialog>





    <div class="content">




        <div style=" width:110%">
            <table class="table-primary"
                style=" table-layout: fixed; direction: rtl; align-items: center; color: black;" mat-table
                [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th class="th" mat-header-cell *matHeaderCellDef> שם מוצר </th>
                    <td class="td" mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>

                <!-- Name Column -->
                

                <ng-container matColumnDef="date">
                    <th class="th" mat-header-cell *matHeaderCellDef> תאריכים </th>
                    <td class="td w-25" width="80" mat-cell *matCellDef="let element">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter" [max]="max">
                                <!---->
                                <input matStartDate placeholder="Start date" (dateChange)="setStartDate($event.value)">
                                <input matEndDate placeholder="End date" (dateChange)="setEndDate($event.value)">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker (opened)="myP(element)" #picker [dateClass]="dateClass">
                            </mat-date-range-picker>

                        </mat-form-field>
                        <textarea matInput *ngIf="comment && element==CurrentProduct" cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                            [formControl]="comments" class="comment"></textarea>
                    </td>
                </ng-container>

                


                <ng-container matColumnDef="buttons">
                    <th class="th" mat-header-cell *matHeaderCellDef> </th>
                    <td class="td" mat-cell *matCellDef="let element">

                        <button mat-raised-button color="redB" (click)="saveChange(element)">שמור שינויים</button>


                        <button mat-mini-fab color="redB">
                            <mat-icon (click)="showdetails(element)">create</mat-icon>
                        </button>


                        <button mat-mini-fab color="redB">
                            <mat-icon (click)="deleteProduct(element)">delete</mat-icon>
                        </button>
                      
                        <!-- <tr *ngIf="show&&element==CurrentProduct">
                            <div>
                                <form [formGroup]="editPForm">
                                    <button mat-mini-fab color="redB">
                                        <mat-icon (click)="close()">clear</mat-icon>
                                    </button>
                                    <input type="text" placeholder="בחר " aria-label="Number" matInput
                                        formControlName="Name" [matAutocomplete]="auto" [value]="displayFn"
                                        class="form-control">
                                    <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let p of filteredPs | async" [value]="p">
                                            {{p.Productname}}
                                        </mat-option>
                                   
                                    </mat-autocomplete>
                                    <div class="error" *ngIf="newPForm.controls['Name'].errors!=null">*</div>
                                    <p>תמונה</p>
                                    <p> <input type="file" (change)="handleFileInput($event.target.files)" multiple
                                            accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
                                         <img *ngFor="let url of CurrentProduct.Images" [src]="url"
                                            class="rounded mb-3" width="180" mat-card-image>
                                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180"
                                            mat-card-image>
                                    </p>
                                    <mat-checkbox class="txt" type="checkbox" formControlName="IsDisposable"
                                        [checked]="CurrentProduct.FreeDescription">
                                        האם חד פעמי?</mat-checkbox>
                                    <div class="error" *ngIf="editPForm.controls['IsDisposable'].errors!=null"> שדה נדרש
                                    </div>
                                    <p>הערות<input type="text" value="{{CurrentProduct.FreeDescription}}"
                                            formControlName="FreeDescription" class="form-control"></p>
                                    <p>פקדון<input type="number" value="{{CurrentProduct.SecurityDepositAmount}}"
                                            formControlName="SecurityDepositAmount" class="form-control"></p>
                                    <p>מצב<input type="text" value="{{CurrentProduct.Status}}" formControlName="Status"
                                            class="form-control"></p>
                                    <p> <button mat-raised-button color="redB" class="btn btn-primary"
                                            (click)="setP()">שמור שינויים</button></p>
                                </form>
                            </div>
                        </tr> -->

                    </td>
                </ng-container>
                <ng-container  matColumnDef="amount">
                    <th class="th"  width="5%" mat-header-cell *matHeaderCellDef> כמות </th>
                    <td class="td" width="5%"  mat-cell *matCellDef="let element">
                <!-- <md-input-container> <input mdInput type="number" id="myNumber" /> </md-input-container>‏ -->

                         <input style="width: 85%;" type="number" value="{{element.Amount}}"
                            min="0" #num (change)="changeAmount(element,num.value)">
                         </td>
                </ng-container>

                <ng-container matColumnDef="describe">
                    <th class="th" mat-header-cell *matHeaderCellDef> תיאור חופשי </th>
                    <td class="td"  style="text-align: center;" mat-cell *matCellDef="let element"> {{element.FreeDescription}} </td>
                </ng-container>
                <ng-container matColumnDef="picture">
                    <th class="th" mat-header-cell *matHeaderCellDef> תמונה </th>
                    <td class="td" mat-cell *matCellDef="let element"> <img class="rounded mb-3" width="100"
                            height="100" mat-card-image src={{element.Images}} /> </td>
                </ng-container>

                <tr mat-header-row style="direction: rtl;font-size: xx-large;" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            <tr *ngIf="show">
                <div>
                    <form [formGroup]="editPForm">
                        <button mat-mini-fab color="redB">
                            <mat-icon (click)="close()">clear</mat-icon>
                        </button>
                        <input type="text" placeholder="בחר " aria-label="Number" matInput
                            formControlName="Name" [matAutocomplete]="auto" [value]="displayFn"
                            class="form-control">
                        <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <!-- <mat-option *ngFor="let p of filteredPs | async" [value]="p">
                                {{p.Productname}}
                            </mat-option> -->
                            <mat-option >
                                {{CurrentProduct.Name}}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="error" *ngIf="newPForm.controls['Name'].errors!=null">*</div>
                        <p>תמונה</p>
                        <p> <input type="file" (change)="handleFileInput($event.target.files)" multiple
                                accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
                            <!----> <img *ngFor="let url of CurrentProduct.Images" [src]="url"
                                class="rounded mb-3" width="180" mat-card-image>
                            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180"
                                mat-card-image>
                        </p>
                        <mat-checkbox class="txt" type="checkbox" formControlName="IsDisposable"
                            [checked]="CurrentProduct.FreeDescription">
                            האם חד פעמי?</mat-checkbox>
                        <div class="error" *ngIf="editPForm.controls['IsDisposable'].errors!=null"> שדה נדרש
                        </div>
                        <p>הערות<input type="text" value="{{CurrentProduct.FreeDescription}}"
                                formControlName="FreeDescription" class="form-control"></p>
                        <p>פקדון<input type="number" value="{{CurrentProduct.SecurityDepositAmount}}"
                                formControlName="SecurityDepositAmount" class="form-control"></p>
                        <p>מצב<input type="text" value="{{CurrentProduct.Status}}" formControlName="Status"
                                class="form-control"></p>
                        <p> <button mat-raised-button color="redB" class="btn btn-primary"
                                (click)="setP()">שמור שינויים</button></p>
                    </form>
                </div>
            </tr>
        </div>
        











        <!-- <table class="table table-hover">
        <tbody *ngFor="let p of products" >
            <tr >
                <td (click)="showdetails(p)">{{p.Name}} </td>
                <td *ngIf="p.IsDisposable"><input type="number" value="{{p.Amount}}" min="0" #num
                        (change)="changeAmount(p,num.value)"></td>
                <td *ngIf="!p.IsDisposable">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter" [max]="max"  >
                             -->
        <!-- <input matStartDate placeholder="Start date" (dateChange)="setStartDate($event.value)">
                            <input matEndDate placeholder="End date" (dateChange)="setEndDate($event.value)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                        <mat-date-range-picker (opened)="myP(p)" #picker [dateClass]="dateClass"></mat-date-range-picker>
                        
                    </mat-form-field> -->
        <!-- <input matInput type="text" *ngIf="comment"> -->
        <!-- <td><input type="button" class="btn btn-primary" value="שמור שינויים" (click)="saveChange(p)"></td> -->
        <!-- <td><img src="assets\editt.png" (click)="showdetails(p)"></td> -->
        <!-- <td><img src="assets\a.png" (click)="deleteProduct(p)"></td> -->

        <!-- זה מהראש<input matInput type="text" *ngIf="comment" style="background-color: lightgrey"> -->
        <!-- <textarea matInput  *ngIf="comment && p==CurrentProduct"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" [formControl]="comments"
                    class="comment"></textarea>
                </td> -->
        <!-- <td>
                    <img src={{p.Images}} />
                </td>
                <td> <button  mat-raised-button color="primary" (click)="saveChange(p)">שמור שינויים</button></td>
                <td>

                    <button mat-mini-fab color="primary">
                        <mat-icon (click)="showdetails(p)">create</mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-mini-fab color="primary">
                        <mat-icon (click)="deleteProduct(p)">delete</mat-icon>
                    </button>
                </td>

            </tr> -->


        <!-- </tbody>
    </table> -->
        <div class="img">
            <button mat-mini-fab color="redB">
                <mat-icon (click)="closeNew()" *ngIf="newProduct">clear</mat-icon>
                <mat-icon (click)="add()" class="img" *ngIf="!newProduct">add_circle</mat-icon>
            </button>
            <span class="text" *ngIf="!newProduct">הוסף מוצר </span>
            <span class="text" *ngIf="newProduct">סגור </span>

        </div>

        <form [formGroup]="newPForm" *ngIf="newProduct">
            <div class="form-group">
                <label> שם:</label>
                <input type="text" placeholder="בחר " aria-label="Number" matInput formControlName="Name"
                    [matAutocomplete]="auto" [value]="displayFn">
                <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let p of filteredPs | async" [value]="p">
                        {{p.Productname}}
                    </mat-option>
                </mat-autocomplete>
                <div class="error" *ngIf="newPForm.controls['Name'].errors!=null">*</div>
            </div>
            <div class="form-group">
                <label> :תאור </label>
                <input class="txt" type="text" class="form-control" formControlName="FreeDescription">
                <div class="error" *ngIf="newPForm.controls['FreeDescription'].errors!=null"> שדה נדרש </div>
            </div>
            <div class="form-group">
                <label> :תמונה </label>
                <div class="input-box">
                    <input type="file" (change)="handleFileInput($event.target.files)" multiple
                        accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
                </div>

                <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180" mat-card-image>
            </div>
            <div class="form-group">
                <label> :כמות </label>
                <input class="txt" type="number" class="form-control" formControlName="Amount">
                <div class="error" *ngIf="newPForm.controls['Amount'].errors!=null"> שדה נדרש </div>
            </div>

            <div class="form-group">

                <mat-checkbox class="txt" type="checkbox" formControlName="IsDisposable">
                    האם חד פעמי?</mat-checkbox>
                <div class="error" *ngIf="newPForm.controls['IsDisposable'].errors!=null"> שדה נדרש </div>
            </div>
            <div class="form-group">
                <label> : פקדון </label>
                <input class="txt" type="number" class="form-control" formControlName="SecurityDepositAmount">
                <div class="error" *ngIf="newPForm.controls['SecurityDepositAmount'].errors!=null"> שדה נדרש </div>
            </div>
            <div class="form-group">
                <label> : סטטוס </label>
                <input class="txt" type="text" class="form-control" formControlName="Status">
                <div class="error" *ngIf="newPForm.controls['Status'].errors!=null"> שדה נדרש </div>
            </div>
            <div>
                <button mat-raised-button color="redB" class="btn btn-success" (click)="setProduct()"
                    [disabled]="!newPForm.valid" style="margin-right: 35%;">הוסף
                </button>
            </div>
        </form>

    </div>


  <footer>
    <p>Author: Hege Refsnes<br>
    <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>
</body>
