/* עיצוב קישורית */
#shape {
  stroke-width: 5px;
  fill: transparent;
  stroke: #34495e;
  stroke-dasharray: 78 350;
  stroke-dashoffset: -187;
  transition: 1s all ease;
}
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: rgb(245, 20, 12);
}
svg{
  cursor: pointer;
  border-radius:15px;
}
text{
    font-size: 15px;
    font-weight: bold;
}
label{
 font-weight: bold;
}
.clabel{
 color: #34495e;
}
.mfclabel{
float: left;
color:#34495e; 
margin-left: 11px;
}
.fclabel{
float: left;
color:#34495e; 
}
  th{
    background-color: #dddddd;
  }
 tr:nth-child(even) {
    background-color: #dddddd;
    width: 70%;
  } 
.mat-red{
  background-color:rgb(215,12,46)!important ;
    border-color:rgb(215,12,46)!important;
} 
.mat-red{
  background-color:rgb(215,12,46)!important ;
    border-color:rgb(215,12,46)!important;
} 
.content {
    display: flex;
    margin: 82px auto;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    direction:rtl; 
    text-align: right;
  }
  .pointer{
    cursor: pointer;
  }
html, body { height: 100%;
}
.search{
  top:10%;
  position: relative ;
}
footer {
  /* display: block!important; */
  width: 100%;
  color: white;
  text-align: center;
  background-color:rgb(155, 14, 14);
  color: rgb(68, 46, 46);
  /* margin-top: 10% !important; */
  /* bottom:0px; */
  }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: bold;
}
