.nav{
  margin-top: 2% !important;
  direction: rtl !important;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
header{
  padding:6px;
   position: fixed;
   width: 100%; 
   right: 0;
    top: 0;
    background-color: white;
    direction: rtl;
    text-align: right;
}
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  ul { 
    list-style-type: none;
    padding:0;
    margin:0;
 }
  ul#nav li {
    background-color: #fff;
    float:left;
 }
  ul#nav li a {
    display:block;
    padding: 5px 10px;
    color: #000;
    text-decoration:none;
    border-bottom:1px solid rgb(181, 210, 255); 
}

   mat-icon{outline:none !important;}

.nav-link{
  height: 40px;
  width:110px;
cursor: pointer;
font-size: 120%;
text-align: center;
}
.home{
  top: 0% !important;
  font-size: 250%;
  border-bottom:1px solid rgb(181, 210, 255)!important; 
}

ul#nav li a:hover { font: bold!important; }
ul#nav li ul li { float:none; }
ul#nav li ul { position:absolute; display:none; }
ul#nav li:hover ul { display:block; }
.logo{
    height: 90px;
    width: 90px;
    display: inline-block;
}
.enterExitName{
  font: outline;
  font-size: large;
  float: left;
}
.active{
  font: bold!important;
  border: none;
  border-bottom: 4px solid rgb(181, 210, 255)!important;

}



