<body>
    <div class="content">
        <form (submit)="filterDonations()" [formGroup]="donationForm">
            <label> קטגוריה:</label>
            <input type="text" placeholder="בחר " aria-label="Number" matInput [formControl]="categoriesControl"
                [matAutocomplete]="auto" [value]="displayFn" class="form-control">
            <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="getTatCategoriesForGmh($event)">
                <mat-option *ngFor="let c of filteredCategories | async" [value]="c">
                    {{c.CategoryName}}
                </mat-option>
            </mat-autocomplete>
            <label> תת קטגוריה:</label>
            <input type="text" placeholder="בחר " aria-label="Number" matInput [matAutocomplete]="auto1"
                [value]="displayFn" [formControl]="tatcategoriesControl" class="form-control">
            <mat-autocomplete matAutocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let tc of filteredTatCategories | async" [value]="tc">
                    {{tc.CategoryName}}
                </mat-option>
            </mat-autocomplete>
            <label> כתובת:</label>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" checked>מיקום נוכחי
                    <p (click)="getCurrentLocation()">
                </mat-radio-button>
                <mat-radio-button value="2">

                    <input ngx-google-places-autocomplete #placesRef="ngx-places" class="form-control"
                        (onAddressChange)="handleDestinationChange($event)" formControlName="location"
                        placeholder="Address">
                </mat-radio-button>
            </mat-radio-group>‏
            <input type="submit" value="סנן" class="btn btn-primary">
        </form>
        <div>
            <div class="donations" (click)="detail(d)" *ngFor="let d of donations">
<!-- <button class="btn btn-primary redB" (click)="detail(d)">פרטים נוספים</button> -->
                <tr style="background: none;">
                    <td>
                        <img class="rounded mb-3" width="100" height="100" mat-card-image [src]="url+d.Picture" />
                        <!-- <img *ngIf="d.Picture!=null" [src]="url + d.Picture" class="rounded mb-3" width="180" mat-card-image> -->
                    </td>
                    <p>{{d.donationName}} </p>
                    <P>{{d.Description}} </P>
                </tr>
                <tr style="font-weight: normal;background: none;" *ngIf="details==true&&d==donationDetail">
                    <p>פרטי תורם:</p>
                    <p>{{donationDetail.donorName}} </p>
                    <p>{{donationDetail.donorEmail}} </p>
                    <p>{{donationDetail.Adress}} </p>
                    <p>{{donationDetail.Phone}} </p>
                </tr>
            </div>
            <!-- <table class="table table-hover">
            <thead>
                <tr>
                    <td>כותרת </td>
                    <td>תאור</td>
                    <td>תמונה</td>

                    <td>מאת </td>
                    <td>כתובת </td>
                    <td>יצירת קשר </td>
                </tr>
            </thead>
            <tbody *ngFor="let d of donations">
                <tr>
                    <td>{{d.donationName}} </td>
                    <td>{{d.Description}} </td>
                    <td>
                        <img *ngIf="d.Picture!=null" [src]="url + d.Picture" class="rounded mb-3" width="180" mat-card-image> 
                    </td>

                    <td>{{d.donorName}} </td>
                    <td>{{d.Adress}} </td>
                    <td>{{d.Phone}} </td>

                </tr>
            </tbody>
        </table> -->
        </div>
    </div>
    

</body>
