<div class="content" color="primary">
    <form class="form" [formGroup]="searchForm" >
        <div class="form-group">
                <input type="text" style="position: relative" placeholder="...הזן מוצר לחיפוש" matInput formControlName="textSearch" class="form-control"
                [matAutocomplete]="auto" [value]="displayFn">
                <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let p of filteredProducts | async" [value]="p">
                        {{p.Productname}}
                    </mat-option>
                </mat-autocomplete>
            <div class="error" *ngIf="searchForm.controls['textSearch'].errors!=null"> אותיות בעברית בלבד!</div>
        </div>
        <div class="form-group">
            <label >קטגוריה:</label>
            <select formControlName="category" class="form-control" (change)="getCategoriesForGmach()">
                <option selected hidden>-בחר קטגוריה-</option>
                <option >-כל הקטגוריות-</option>
                <option *ngFor="let a of categories">{{a.CategoryName}}</option>
            </select>
        </div>
        <div *ngIf="this.searchForm.controls.category.value!=''" class="form-group">
            <label > תת קטגוריה:</label>
            <select  formControlName="tatCategory" class="form-control">
                <option  selected hidden>-בחר קטגוריה-</option>
                <option >-כל תתי הקטגוריות-</option>
                <option *ngFor="let b of tatCategories">{{b.CategoryName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label >אזור ישוב:</label>
            <p ><input type="radio" name="r" checked (click)="getCurrentLocation()">
                <mat-icon>room</mat-icon>מיקום נוכחי
            </p>
            <input type="radio" name="r" (click)="chooseLocation()"> <input ngx-google-places-autocomplete #placesRef="ngx-places"
              (onAddressChange)="handleDestinationChange($event)" placeholder="בחר מיקום‏" formControlName="location">
        <div *ngIf="searchForm.errors?.validSearch!=null" style="text-align: right;">
                {{searchForm.errors?.validSearch}}
            </div>
        </div>
        <div class="form-group">
        <label>מרחק נסיעה</label>
<input type="number" min="0" formControlName="distance" class="form-control">
    </div>
        <div class="form-group">
            <button mat-raised-button color="red"  [disabled]="!searchForm.valid"
                style="margin-right: 35%;" (click)="search()" >חיפוש</button>
        </div>
        <h3 *ngIf="IncreaseTheSearchArea==true">
            חיפשת ולא מצאת, נכון שזה מעצבן?
            לכן, אני שומרת את הביטוי ומבטיחה לשפר את מנוע החיפוש בהמשך .
            בינתיים, אני ממליצה לך לחפש לפי קטגוריות אולי תמצא את מה שחיפשת, או להגדיל את טווח החיפוש?
        </h3>      
    </form>
    <table>
        <tbody *ngFor="let g of gmhs">
            <tr>
                <td>{{g.GmhName}}</td> 
            </tr>
        </tbody>
    </table>
</div>
